@font-face {
  font-family: "Omnes Light";
  src: url("fonts/Omnes-Light.otf");
}

body {
  margin: 0 auto; 
  background-color: #fafafa;
}

.container {
  display: grid;
  /* grid-gap: 10px; */
  grid-auto-columns: 1fr;
  grid-template-areas: 
    'nav nav'
    'welcome welcome'
    'footer footer';
}

h3 {
  color: #394348;
  font-family: 'Omnes Light', sans-serif;
  font-size: 24px;
}

.nav-bar {
  padding: 10px;
  grid-area: nav;
  background-color: #7d3a93;
}

.logo {
  text-align: center;
  margin: auto;
}

.message {
  grid-area: welcome;
  margin-bottom: 20px;
}

.welcome {
  text-align: center;
  margin: auto;
}

.card {
  padding: 20px;
  background-color: #fff;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px #ddd;
  border-radius: 5px;
}

.icon {
  text-align: center;
  margin: auto;
  color: #f08739;
}

p {
  text-align: center;
}

.button {
  font-family: 'Omnes Light', sans-serif;
  font-size: 18px;
  margin: auto;
  max-width: 300px;
  background-color: #1e4e9d;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

.notif-text {
  color: #394348;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.btns {
  width: 100%;
  position: absolute;
  bottom: 0px;
  grid-area: footer;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    'box1 box2'
    'box3 box4';
}

.button-card {
  color: #394348;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.bills {
  grid-area: box1;
  border: solid 1px #ddd;
  border-bottom: none;
  border-right: none;
}

.fix {
  grid-area: box2;
  border: solid 1px #ddd;
  border-bottom: none;
} 

.speed {
  grid-area: box3;
  border: solid 1px #ddd;
  border-right: none;
}

.security {
  grid-area: box4;
  border: solid 1px #ddd;
} 

.btn-title {
  margin-bottom: 0px;
  margin-top: -15px;
}

.color {
  color: #7d3a93;
}

.dots {
  text-align: center;
}

.bull-purple {
  color: #7d3a93;
}

.bull {
  color: #ddd;
}

.no-margin {
  font-size: 20px;
  margin-top: 5px;
}

.engineer {
  width: 60px;
}

.card-payment {
  width: 60px;
}

svg {
  fill: #7d3a93;
}


/* iPhone X */

@media screen and ( min-height: 800px) {
  .button-card {
    padding: 20px;
    font-size: 20px;
  }
  h3 {
    font-size: 30px;
  }
  .notif-text {
    color: #394348;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
  .button {
    font-family: 'Omnes Light', sans-serif;
    font-size: 22px;
    margin: auto;
    max-width: 300px;
    background-color: #1e4e9d;
    height: 60px;
    border-radius: 3px;
    text-align: center;
    line-height: 60px;
    color: #fff;
  }
  .no-margin {
    font-size: 30px;
  }
  .card {
    padding: 40px 20px 40px 20px;
  }
  .engineer {
    width: 80px;
  }
  
  .card-payment {
    width: 80px;
  }
}